<div class="button_create ">
	<a href="/api/v1/create" class="btn btn-info">Nuevo Post</a>
</div>


<style type="text/css">
	.button_create{
		margin-top: 65px;
		width: 250px;
		height: 50px;
	}
</style>